<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ets.mapper.AnnouncementMapper" >
  <resultMap id="BaseResultMap" type="com.ets.pojo.Announcement" >
    <constructor >
      <idArg column="an_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="title" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ad_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="status" jdbcType="TINYINT" javaType="java.lang.Byte" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    an_id, title, content, ad_id, create, update, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_announcement
    where an_id = #{anId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_announcement
    where an_id = #{anId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ets.pojo.Announcement" >
    insert into tb_announcement (an_id, title, content, 
      ad_id, create, update, 
      status)
    values (#{anId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{adId,jdbcType=INTEGER}, #{create,jdbcType=TIMESTAMP}, #{update,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ets.pojo.Announcement" >
    insert into tb_announcement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="anId != null" >
        an_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="adId != null" >
        ad_id,
      </if>
      <if test="create != null" >
        create,
      </if>
      <if test="update != null" >
        update,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="anId != null" >
        #{anId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="adId != null" >
        #{adId,jdbcType=INTEGER},
      </if>
      <if test="create != null" >
        #{create,jdbcType=TIMESTAMP},
      </if>
      <if test="update != null" >
        #{update,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ets.pojo.Announcement" >
    update tb_announcement
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="adId != null" >
        ad_id = #{adId,jdbcType=INTEGER},
      </if>
      <if test="create != null" >
        create = #{create,jdbcType=TIMESTAMP},
      </if>
      <if test="update != null" >
        update = #{update,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where an_id = #{anId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ets.pojo.Announcement" >
    update tb_announcement
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      ad_id = #{adId,jdbcType=INTEGER},
      create = #{create,jdbcType=TIMESTAMP},
      update = #{update,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT}
    where an_id = #{anId,jdbcType=INTEGER}
  </update>
</mapper>