<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ets.mapper.CartMapper" >
  <resultMap id="BaseResultMap" type="com.ets.pojo.Cart" >
    <constructor >
      <idArg column="cart_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="createtime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="user_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="price" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="item_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="check" jdbcType="TINYINT" javaType="java.lang.Byte" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    cart_id, num, createtime, update, user_id, price, item_id, check
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_cart
    where cart_id = #{cartId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_cart
    where cart_id = #{cartId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ets.pojo.Cart" >
    insert into tb_cart (cart_id, num, createtime, 
      update, user_id, price, 
      item_id, check)
    values (#{cartId,jdbcType=INTEGER}, #{num,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{update,jdbcType=TIMESTAMP}, #{userId,jdbcType=BIGINT}, #{price,jdbcType=BIGINT}, 
      #{itemId,jdbcType=INTEGER}, #{check,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ets.pojo.Cart" >
    insert into tb_cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cartId != null" >
        cart_id,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="update != null" >
        update,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="itemId != null" >
        item_id,
      </if>
      <if test="check != null" >
        check,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cartId != null" >
        #{cartId,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="update != null" >
        #{update,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="price != null" >
        #{price,jdbcType=BIGINT},
      </if>
      <if test="itemId != null" >
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="check != null" >
        #{check,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ets.pojo.Cart" >
    update tb_cart
    <set >
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="update != null" >
        update = #{update,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=BIGINT},
      </if>
      <if test="itemId != null" >
        item_id = #{itemId,jdbcType=INTEGER},
      </if>
      <if test="check != null" >
        check = #{check,jdbcType=TINYINT},
      </if>
    </set>
    where cart_id = #{cartId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ets.pojo.Cart" >
    update tb_cart
    set num = #{num,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      update = #{update,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=BIGINT},
      price = #{price,jdbcType=BIGINT},
      item_id = #{itemId,jdbcType=INTEGER},
      check = #{check,jdbcType=TINYINT}
    where cart_id = #{cartId,jdbcType=INTEGER}
  </update>
</mapper>